@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+JP:wght@400;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;1,100&display=swap');

* {
  box-sizing: border-box;
}

html {
  font-family: 'Monsterrat', sans-serif;
}

body {
  margin: 0;
}

