/* Popup style */
.overlay {
  background: #00000050;
  width: 100%;
  position: fixed; 
  top: 0; 
  bottom: 0; 
  right: 0; 
  left: 0; 
  height: 100vh;
  margin: 0 auto; 
  
}


.header{
  position: relative;
  letter-spacing: 0.5em;
  text-align: center;
  font-family: 'Major Mono Display'; 
  font-size: 27px; 
}

 
.box {
  position: relative;
  width: 40%;
  margin: 0 auto;
  height: auto;
  max-height: 70vh;
  margin-top: calc(100vh - 85vh - 20px);
  background-color: #fadccf; 
  border-radius: 10px;
  padding: 20px;
  border: 1px solid #999;
  overflow: auto;
  display: flex; 
  justify-content: center;
  font-family: 'Montserrat';
  letter-spacing: 0.10em;
  font-size: 15px;
}
 
 #close {
  content: 'X';
  cursor: pointer;
  color: grey; 
  position: relative; 
  top: 0; 
  left: 0; 
  width: 25px;
  height: 25px;
  text-align: center;
  font-size: 30px;
  text-decoration: none;
}

#close:hover {
  transition: 0.1s ease; 
  color: white;
}

input:focus { 
  outline: none;
}


button { 
  display: flex; 
  margin-top: 1em; 
  justify-content: center;
}


.content { 
  width: 100%;
  text-align: center;
}


.fields { 
  height: 2.5em; 
  width: 13em; 
  border: 2px solid green; 
  padding: 10px; 
  border-radius: 2em;
  margin: 4px; 
}

#frequency {
  width: 4em; 
  text-align: center;
}

#notes { 
  overflow-x: hidden;
  overflow-y: scroll;
  width: 30em; 
  outline: none;
  padding-left: 1.5em;
  font-family: 'Arial'; 
  line-height: 15px;
  height: 5em; 
}
